.loadd {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  width: 22rem;
  height: 22rem;
}

.loadwrap {
  position: fixed;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  z-index: 2000;
  overflow: hidden;
}
